html {
 background: url(sunny.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.graph {
background-color: rgba(120,32,32,0.5);
border: 1px solid black;
}
img.chart {
margin:auto;
display:inline;
}
* {
color: #660099;
font-size: 25px;
} 
h2,
em.head {
 font-size:46px;
line-height:10%;
}
footer p,
footer a,
a{
color: red;
line-height:10%;
}
div p {
 margin: auto;
text-align:center;
opacity:0.4;
filter:alpha(opacity=40);
border-radius:4%;
width: 60vw;
}
div p:hover {
opacity:1.0;
filter:alpha(opacity=100);
}
div p:nth-child(even) {
color:white;
background-color:black;
}
div p:nth-child(odd) {
color:black;
background-color:white;
}
div:not(.graph) {
background-color: rgba(276,34,54,0.5);
border-radius: 5%;
width:80vw;
}
img.weatherpic {
width:500px;
height:380px
display:inline;
}